h1.welcome {
  font-size: 20px;
}

p.free {
  font-size: 12px;
  font-weight: 400;
}
div {
  border: 1px solid #f7f7f7;
}

.topleft {
  list-style: none;

}

.well {
  margin-top: 60px;
}

.logo {
  margin-top: 20px;
}

.bird {
  float: left;
}

.news {
  float: right;
}

.guess {
  float: right;
}

.list {
  float: right;
}
