h1.welcome {
  font-size: 20px;
}

p.free {
  font-size: 12px;
  font-weight: 400;
}
div {
  border: 1px solid #f7f7f7;
}

.topleft {
  list-style: none;

}

.well {
  margin-top: 60px;
  padding-bottom: 80px;
}

.logo {
  margin-top: 20px;
}

.bird {
  float: left;
  padding: 5px 10px 5px 5px;
}

.news {
  float: right;
  padding: 5px 5px 5px 5px;
}

.guess {
  float: right;
  padding: 5px 5px 5px 5px;
}

.list {
  float: right;
  padding: 5px 5px 5px 5px;
}

.illust {
  float: left;
  padding: 5px 10px 5px 5px;
}
/*
#one {
  float: right;

}
#two {
  float: right;
}

#three {
  float: right;

}

.ciences {
  color: blue;
  float:right;
  display: block;
}
*/
.arrange-vertically > * {
    display: block;
}
.arrange-horizontally > * {
    display: inline-block;
    text-align: left;
    float: right;

}
